extends ../../Layout/Main
block content
	.row.well
		.col-md-8
			h4 添加商品
		.col-md-4
			.pull-right
				button.btn.btn-default(onclick='location.href="/Shop/Manage/List"') 取消
				span &nbsp;
				button.btn.btn-primary(onclick='jQuery("#admform").submit()') 保存
	form#admform.form-horizontal(action="/Shop/Manage/Save",method="post",enctype="multipart/form-data")
		.form-group
			label.col-lg-1.control-label(for="title") 标题*
			.col-lg-6
				input#title.form-control(name="title",placeholder="输入标题")
		.form-group
			label.col-lg-1.control-label(for="points") 积分*
			.col-lg-2
				input#points.form-control(name="points",placeholder="所需积分")
		.form-group
			label.col-lg-1.control-label(for="image") 图片*
			.col-lg-6
				input#image.form-control(name="image",type="file")
		.form-group
			label.col-lg-1.control-label(for="desc") 描述
			.col-lg-6
				textarea#desc.form-control(name="desc")
		.form-group
			label.col-lg-1.control-label(for="state") 状态
			.col-lg-4
				.radio-inline
					input#desc.form-control(name="state",value="0",type="radio",style="display:none") 
					a.btn.btn-default 未发布
				.radio-inline
					input#desc.form-control(name="state",value="1",type="radio",checked,style="display:none") 
					a.btn.btn-success 发布