extends ../../Layout/Main
block content
	.container
		.row 
			table.table.table-striped.table-bordered
					tr
						th #
						th Id
						th Name
					tr
						td 1
						td 1asdf12323
						td lake