#modal-delete-cfm.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title 警告
			.modal-body
				p#modal-message 是否删除所选条目?
			.modal-footer
				a.btn.btn-default(data-dismiss="modal") 取消
				a#modal-confirm-btn.btn.btn-primary 确认