.navbar.navbar-default
	.container
		.navbar-header
			.navbar-brand 停车易后台
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li
					a(href='/User/Manage/List') 用户
				li
					a 车位
				li 	
					a 申请
				li
					a 商城

